<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd

		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 开启注解 -->
	<context:annotation-config />

	<!-- 启动AspectJ支持,代理实现采用CGLIB,而不是JDK -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!--&lt;!&ndash; 扫描com.*.*包下所有标注服务组件 &ndash;&gt;-->
	<context:component-scan base-package="com.pei.liu">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>


	<!-- 加载datasource配置 -->
	<import resource="classpath:/applicationContext-datasource-mybatis.xml" />

	<!--&lt;!&ndash; 加载dubbo配置 &ndash;&gt;-->
	<!--<import resource="classpath:/dubbo-provider.xml" />-->
	<!--<import resource="classpath:/dubbo-consumer.xml" />-->
	<!--<import resource="classpath:/job/elasticJob.xml" />-->


</beans>
